extends _layout.pug

prepend root
  - title = "Visioconférence"


block content
  h4.spacing 
    | Cette page a changé d'adresse : 
    a(href="/Guide/Discussion.html") cliquez ici pour être redirigé
