include _mixin/menu.pug

block root
  doctype html
  head
    meta(charset='utf-8')
    title 💮💮 deuxfleurs - #{title}
    link(rel="stylesheet", href="/css/main.css")
  header
    .container
      .menu-item
        a(href='/') 
          strong deuxfleurs&nbsp;
        img(src='/img/flower.svg' width='38')
        img(src='/img/flower.svg' width='38')
      .menu-item
        a(href='https://guichet.deuxfleurs.fr') compte
        span &nbsp;|&nbsp; 
      h1 #{title}
  block main
    main
      .container.spacing
        nav
          strong
            a(href="/") Accueil
          +menu(root)
        block content
