extends ./_layout.pug

prepend root
  - if (element.tags.includes('is_index'))
    - title = element.nice_path[element.nice_path.length - 1]
  - else
    - title = element.nice_name

block content
  != markdown
