extends _layout.pug

prepend root
  - title = "deuxfleurs"

block content
  .chapeau ⇨ protège votre vie privée
  .chapeau ⇨ défend vos libertés et vos droits
  .chapeau ⇨ ne vous manipule pas
  .chapeau ⇨ promeut la sobriété numérique


  section.spacing
    h2 nos services éthiques
    .list
      a.service-box.spacing(href='/Guide/Discussion.html')
        div(style='font-size: 80px; height: 120px') 💬
        h3 discussions
      a.service-box.spacing(href='/Guide/Visioconférence.html')
        div(style='font-size: 80px; height: 120px') 📞
        h3 visioconférence
      a.service-box.spacing(href='https://cloud.deuxfleurs.fr')
        div(style='font-size: 80px; height: 120px') 🔒
        h3 sauvegarde de documents
      a.service-box.spacing(href='https://sogo.deuxfleurs.fr')
        div(style='font-size: 80px; height: 120px') 📨
        h3 emails
      a.service-box.spacing(href='https://p.adnab.me')
        div(style='font-size: 80px; height: 120px') 📄
        h3 collaboration
      a.service-box.spacing(href='/Technique')
        div(style='font-size: 80px; height: 120px') 🌐
        h3 sites webs
      a.service-box.spacing(href='https://git.deuxfleurs.fr')
        div(style='font-size: 80px; height: 120px') 💻
        h3 code
      br

    p.spacing ⚠️  Vous devez être membre pour utiliser ces services.&nbsp;
      a(href="#nous-rejoindre") Nous rejoindre.
   
  section.spacing
    h2 contre les dérives du numérique
    :markdown-it(linkify)
      L'IETF, l'organisme en charge de la standardisation d'internet, reconnait que les choix technologiques ont un impact sur les droits de l'homme [[RFC8280]](https://trac.tools.ietf.org/html/rfc8280).

  section.spacing
    h2(id="nous-rejoindre") construites ensembles
    p.spacing Nous fonctionnons actuellement selon un mode de cooptation qui nous permet d'une part de mieux contrôler l'utilisation des ressources et éviter les abus, et d'autre part de créer et garder un contact humain avec nos utilisateurs. 
    p.spacing
      | Si vous connaissez un membre de l'association, contactez le directement pour qu'il vous créer un compte.  
      br
      | Sinon, vous pouvez nous écrire à coucou<img src="img/arobase.png" height="15"/>deuxfleurs.fr.

