extends ../_layout.pug

prepend root
  - title = "Discussions"


block content
  .spacing
    h2 Accès rapides
    
    .list
      a.service-box.spacing(href='https://riot.deuxfleurs.fr')
        div(style='font-size: 80px; height: 120px') 🌐
        h3 Accéder via le navigateur
      a.service-box.spacing(href='https://play.google.com/store/apps/details?id=im.vector.app&hl=fr')
        div(style='font-size: 80px; height: 120px') 📥
        h3 Application Android
      a.service-box.spacing(href='https://apps.apple.com/fr/app/riot-im/id1083446067')
        div(style='font-size: 80px; height: 120px') 📥
        h3 Application iOS
      br

    h2.spacing Premiers pas sur Android
    
    .screenlist
      img(src="Assets/riot_install4.png", height="400")
      img(src="Assets/riot_install5.png", height="400")
      img(src="Assets/riot_connect2.png", height="400")
      img(src="Assets/riot_connect25.png", height="400")
      img(src="Assets/riot_connect3.png", height="400")
      img(src="Assets/riot_connect4.png", height="400")
      img(src="Assets/riot_connect5.png", height="400")
  
    style.
      .screenlist > img {
        padding: 20px;
      }
